<html>

<head>
    <meta charset="utf-8">
    <title>SALES | REPORT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <script src="script.js"></script>
</head>
<style>
    * {
        border: 0;
        box-sizing: content-box;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
    }
    /* content editable */
    
    *[contenteditable] {
        border-radius: 0.25em;
        min-width: 1em;
        outline: 0;
    }
    
    *[contenteditable] {
        cursor: pointer;
    }
    
    span[contenteditable] {
        display: inline-block;
    }
    /* heading */
    
    h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }
    /* table */
    
    table {
        font-size: 75%;
        table-layout: fixed;
        width: 100%;
    }
    
    table {
        border-collapse: separate;
        border-spacing: 2px;
    }
    
    th,
    td {
        border-width: 1px;
        padding: 0.5em;
        position: relative;
        text-align: left;
    }
    
    th,
    td {
        border-radius: 0.25em;
        border-style: solid;
    }
    
    th {
        background: #EEE;
        border-color: #BBB;
    }
    
    td {
        border-color: #DDD;
    }
    /* page */
    
    html {
        font: 16px/1 'Open Sans', sans-serif;
        overflow: auto;
        /* padding: 0.5in; */
    }
    
    html {
        /* background: #999; */
        cursor: default;
    }
    
    body {
        box-sizing: border-box;
        /* height: 11in; */
        margin: 0 auto;
        overflow: hidden;
        padding: 0.5in;
        /* width: 8.5in; */
    }
    
    body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    }
    /* header */
    
    header {
        margin: 0 0 3em;
    }
    
    header:after {
        clear: both;
        content: "";
        display: table;
    }
    
    header h1 {
        background: #000;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
    }
    
    header address {
        float: left;
        font-size: 75%;
        font-style: normal;
        line-height: 1.25;
        margin: 0 1em 1em 0;
    }
    
    header address p {
        margin: 0 0 0.25em;
    }
    
    header span,
    header img {
        display: block;
        float: right;
    }
    
    header span {
        margin: 0 0 1em 1em;
        max-height: 25%;
        max-width: 60%;
        position: relative;
    }
    
    header img {
        max-height: 100%;
        max-width: 100%;
    }
    
    header input {
        cursor: pointer;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    /* article */
    
    article,
    article address,
    table.meta,
    table.inventory {
        margin: 0 0 3em;
    }
    
    article h1 {
        position: absolute;
        color: #000;
    }
    
    article address {
        float: left;
        font-size: 125%;
        font-weight: bold;
    }
    /* table meta & balance */
    
    table.meta,
    table.balance {
        float: right;
        width: 36%;
    }
    
    table.meta:after,
    table.balance:after {
        clear: both;
        content: "";
        display: table;
    }
    /* table meta */
    
    table.meta th {
        width: 40%;
    }
    
    table.meta td {
        width: 60%;
    }
    /* table items */
    
    table.inventory {
        clear: both;
        width: 100%;
    }
    
    table.inventory th {
        font-weight: bold;
        text-align: center;
    }
    
    table.inventory td:nth-child(1) {
        width: 26%;
    }
    
    table.inventory td:nth-child(2) {
        width: 38%;
    }
    
    table.inventory td:nth-child(3) {
        text-align: center;
        width: 12%;
    }
    
    table.inventory td:nth-child(4) {
        text-align: center;
        width: 12%;
    }
    
    table.inventory td:nth-child(5) {
        text-align: center;
        width: 12%;
    }
</style>

<body>
    <header>
        <h1>sales report</h1>
        <address contenteditable>
            <p>Admin :</p>
            <p>Report Date : <%=today%><br>Location :</p>
            <p>(+91) 8075443186</p>
        </address>
        <!-- <span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file"
                accept="image/*"></span> -->
    </header>
    <article>
        <!-- <h1>Recipient</h1> -->
        <address contenteditable>
            <p>A D D R E S S</p>
        </address>
        <table class="meta">
            <tr>
                <th><span contenteditable>From </span></th>
                <td><span contenteditable><%=fromDate[2]%> - <%=fromDate[1]%> - <%=fromDate[0]%></span></td>
            </tr>
            <tr>
                <th><span contenteditable>To</span></th>
                <td><span id="prefix" contenteditable><%=toDate[2]%> - <%=toDate[1]%> - <%=toDate[0]%></span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th><span contenteditable>Product</span></th>
                    <th><span contenteditable>Rating</span></th>
                    <th><span contenteditable>Price</span></th>
                    <th><span contenteditable>Quantity</span></th>
                    <th><span contenteditable>Total</span></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0 ;i < order.length;i++){ %>
                    <tr>
                        <td><span contenteditable><%=order[i].name%></span></td>
                        <td><span contenteditable><%=order[i].rating%></span></td>
                        <td><span data-prefix>&#x20B9;</span><span contenteditable><%=order[i].offerPrice%></span></td>
                        <td><span contenteditable><%=order[i].total_quantity%></span></td>
                        <td><span data-prefix>&#x20B9;</span><span><%=order[i].total_amount%></span></td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <table class="balance">
            <tr>
                <th><span contenteditable>Total Sale</span></th>
                <%let price=0 ; for(let i=0; i < order.length; i++){price +=order[i].total_amount;}%>
                    <td><span data-prefix>&#x20B9;</span><span><%=price%></span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th><span contenteditable>Username</span></th>
                    <th><span contenteditable>Date</span></th>
                    <th><span contenteditable>Products</span></th>
                    <th><span contenteditable>Total</span></th>

                </tr>
            </thead>
            <tbody>
                <% for(let i=0 ;i < orders.length;i++){ %>
                    <tr>
                        <td><span contenteditable>
                                <%=orders[i].userName[0] %>
                            </span></td>
                        <td><span contenteditable>
                                <%= orders[i].date%>
                            </span></td>
                        <td><span data-prefix></span><span contenteditable>
                            <% for(let j=0; j < orders[i].products.length; j++) { %>
                            <%= orders[i].products[j] %> x
                            <%=orders[i].pqty[j]%>
                            <% } %>
                            </span></td>
                        <td><span data-prefix>&#x20B9;</span><span>
                                <% if(orders[i].orderTotal !=0 ){%>
                                    <%= orders[i].orderTotal%>
                                        <%}else{%>
                                            Wallet
                                            <%}%>
                            </span></td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </article>
    <aside>
        <h1><span contenteditable>Make a customer, not a sale</span></h1>
        <div contenteditable>
            <!-- <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p> -->
        </div>
    </aside>
</body>

</html>